<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <div class="form-group">
    <label for="title">Título: </label>
    <input
      type="text"
      placeholder="Insira um título"
      formControlName="title"
      required
    />
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">O campo título é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descrição: </label>
    <textarea
      placeholder="Descreva o seu momento"
      formControlName="description"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="image">Insira a imagem que mais marcou seu momento: </label>
    <input type="file" formControlName="image" />
  </div>
  <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="image.errors?.['required']">É necessário inserir uma imagem</p>
  </div>
  <input type="submit" class="sendImage" value="{{ btnText }}" />
</form>
